/* menu 2 */

.sticky-top-2 {
  /* position: -webkit-sticky; */
  position: sticky;
  top: 40px;
  z-index: 1020;
}

.sticky-top {
  /* position: -webkit-sticky; */
  position: sticky;
  top: -9px;
  z-index: 1020;
}


/* banner de cripto monedas */


.cg-default {
font-family: -apple-system, BlinkMacSystemFont, segoe ui, Helvetica, Arial, sans-serif,
  apple color emoji, segoe ui emoji, segoe ui symbol;
}

.cg-bold {
font-weight: 600;
}

.cg-center {
text-align: center;
}

.cg-primary-color {
color: #8dc647 !important;
}

.cg-primary-color-dark {
color: #4b8800 !important;
}

.cg-red-color-dark {
color: #c2220d !important;
}

.cg-red-color {
color: #ff614d !important;
}

.cg-2xs {
font-size: 8.8px;
/* 0.55rem; */
}

.cg-xs {
font-size: 10.4px;
/* 0.65rem */
}

.cg-sm {
font-size: 12.8px;
/* 0.8rem */
}

.cg-normal {
font-size: 13.6px;
/* 0.85rem */
}

.cg-base {
font-size: 16px;
/* 16px */
}

.cg-medium {
font-size: 19.2px;
/* 1.2rem */
}

.cg-lg {
font-size: 24px;
/* 1.5rem */
}

.cg-xl {
font-size: 30.4px;
/* 1.9rem */
}

.cg-cap {
text-transform: capitalize;
}

.cg-no-underline {
text-decoration: none;
}

.cg-nowrap {
white-space: nowrap;
}

.cg-m-0 {
margin: 0;
}

.cg-m-1 {
margin: 4px;
}

.cg-m-2 {
margin: 8px;
}

.cg-mt-1 {
margin-top: 4px;
}

.cg-mb-1 {
margin-bottom: 4px;
}

.cg-ml-1 {
margin-left: 4px;
}

.cg-mr-1 {
margin-right: 4px;
}

.cg-mt-2 {
margin-top: 8px;
}

.cg-ml-2 {
margin-left: 8px;
}

.cg-mr-2 {
margin-right: 8px;
}

.cg-mb-2 {
margin-bottom: 8px;
}

.cg-mx-1 {
margin-left: 4px;
margin-right: 4px;
}

.cg-my-1 {
margin-top: 4px;
margin-bottom: 4px;
}

.cg-mx-2 {
margin-left: 8px;
margin-right: 8px;
}

.cg-my-2 {
margin-top: 8px;
margin-bottom: 8px;
}

.cg-my-5 {
margin-top: 20px;
margin-bottom: 20px;
}

.cg-p-1 {
padding: 4px;
}

.cg-p-2 {
padding: 8px;
}

.cg-p-3 {
padding: 12px;
}

.cg-p-4 {
padding: 16px;
}

.cg-pt-1 {
padding-top: 4px;
}

.cg-pb-1 {
padding-bottom: 4px;
}

.cg-pt-2 {
padding-top: 8px;
}

.cg-pb-2 {
padding-bottom: 8px;
}

.cg-pt-3 {
padding-top: 12px;
}

.cg-pb-3 {
padding-bottom: 12px;
}

.cg-py-1 {
padding-top: 4px;
padding-bottom: 4px;
}

.cg-px-1 {
padding-left: 4px;
padding-right: 4px;
}

.cg-py-2 {
padding-top: 8px;
padding-bottom: 8px;
}

.cg-px-2 {
padding-left: 8px;
padding-right: 8px;
}

.cg-py-3 {
padding-top: 12px;
padding-bottom: 12px;
}

.cg-px-3 {
padding-left: 12px;
padding-right: 12px;
}

.cg-px-4 {
padding-left: 16px;
padding-right: 16px;
}

.cg-py-4 {
padding-top: 16px;
padding-bottom: 16px;
}

.cg-py-5 {
padding-top: 20px;
padding-bottom: 20px;
}

.cg-pr-1 {
padding-right: 4px;
}

.cg-pr-2 {
padding-right: 8px;
}

.cg-flex {
display: flex !important;
}

.cg-flex-row {
flex-direction: row;
}

.cg-flex-column {
flex-direction: column;
}

.cg-items-stretch {
align-items: flex-stretch;
}

.cg-items-start {
align-items: flex-start;
}

.cg-items-center {
align-items: center;
}

.cg-items-end {
align-items: flex-end;
}

.cg-items-baseline {
align-items: baseline;
}

.cg-justify-start {
justify-content: flex-start;
}

.cg-justify-center {
justify-content: center;
}

.cg-justify-end {
justify-content: flex-end;
}

.cg-justify-between {
justify-content: space-between;
}

.cg-justify-around {
justify-content: space-around;
}

.cg-self-auto {
align-self: auto;
}

.cg-self-start {
align-self: flex-start;
}

.cg-self-center {
align-self: center;
}

.cg-self-end {
align-self: flex-end;
}

.cg-self-stretch {
align-self: stretch;
}

.cg-relative {
position: relative;
}

.cg-absolute {
position: absolute;
}

.cg-block {
display: block;
}

.cg-container {
font-family: sans-serif;
border: 1px solid rgba(0, 0, 0, 0.2);

color: #4c4c4c;
line-height: 1.25;
font-size: 12px;

min-width: 300px;
box-sizing: border-box;
}

.cg-container[data-loading] .cg-widget {
display: none;
}

.cg-coin-row:hover {
background-color: rgba(141, 198, 71, 0.2);
cursor: pointer;
box-sizing: border-box;
}

.cg-even-row {
background-color: #fcfff8;
}

.cg-arrow-up {
width: 0;
height: 0;
border-left: 6px solid transparent;
border-right: 6px solid transparent;

border-bottom: 6px solid #4b8800;
}

.cg-arrow-down {
width: 0;
height: 0;
border-left: 6px solid transparent;
border-right: 6px solid transparent;

border-top: 6px solid #a11b0a;
}

.cg-footer {
background-color: rgb(141, 198, 71, 0.1);
}

.cg-widget select {
background-color: white;
border-color: rgb(141, 198, 71);
}

.cg-widget a {
text-decoration: none;
color: #4c4c4c;
}

.cg-widget a:hover {
color: #4c4c4c;
}

.cg-coin-row img {
width: 22px;
}

.cg-marquee {
white-space: nowrap;
overflow: hidden;
}

.cg-marquee-content-1 {
display: inline-block;
padding-left: 0%;
/* show the marquee just outside the paragraph */
animation: marquee 30s linear infinite;
}

.cg-marquee-content-long {
animation: marquee 100s linear infinite;
}

.cg-marquee-content-2 {
display: inline-block;
padding-left: 0%;
/* show the marquee just outside the paragraph */
animation: marquee2 30s linear infinite;
}

@keyframes marquee {
from {
  transform: translateX(0%);
}

to {
  transform: translateX(-100%);
}
}

@keyframes marquee2 {
from {
  transform: translateX(0%);
}

to {
  transform: translateX(-100%);
}
}

